<h1 class="container" "text-center m-5">
    Ayuda
</h1>

<div class="container">
<div class="text-center m-5">
<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#¿Cómocomprar?">¿Cómo comprar?</a>
  <a class="list-group-item list-group-item-action" href="#Tallesyespecificaciones">Talles y especificaciones</a>
  <a class="list-group-item list-group-item-action" href="#Envios">Envios</a>
  <a class="list-group-item list-group-item-action" href="#Garantia">Garantia</a>
</div>
<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <h4 id="¿Cómo comprar?">¿Cómo comprar?</h4>
  <p>¿Cómo comprar?

Comprar en CLOTEX es fácil y seguro.
Te explicamos el paso a paso:

Seleccioná tu producto (cantidad, talle y color) y agrégalo al carrito.
Podés elegir seguir comprando o hacer click en “finalizar compra”.
Verificá que el/los producto/s seleccionado/s se hayan registrado correctamente en tu carrito. Si contás con un cupón de descuento ¡es el momento de ingresarlo!
Hacé click en “finalizar compra” e ingresá tu dirección de correo electrónico.
Completá tus datos personales y hacé click en “ir para la entrega”.
Ingresá los datos para la entrega. Al colocar tu código postal vas a ver las diferentes opciones de envío disponibles. Seleccioná la que prefieras.
Hacer click en “ir para el pago”.
Elegí el método de pago deseado y completá los datos según corresponda. Si contás con un voucher de regalo tenés que ingresar el código en este paso.
¡Ya estás a un paso de finalizar la compra! Solo verificá haber ingresado bien los datos y hacé click en “comprar ahora”.</p>
  <h4 id="Tallesyespecificaciones">Talles y especificaciones</h4>
  <p>No entiendo los talles que figuran en la página.

Te comentamos que los talles en nuestra página están publicados en medida argentina. Posicioná el cursor del mouse sobre los talles para corroborar la medida equivalente en otras unidades (UK/US/EU y centímetros de plantilla). La conversión publicada es la oficial de la marca.</p>
  <h4 id="Envios">Envios</h4>
  <p>¿Cuáles son los tipos de envío?

ENVÍO A DOMICILIO ESTÁNDAR
Envío a todo el país.
En compras mayores a $14.999 el envío es GRATIS en compras menores a $14.999 el envío tiene costo. Podes consultarlo colocando el código postal en la página del producto.
El plazo de entrega de los envíos estándar es de 3 a 12 días hábiles, dependiendo de la localidad.

RETIRO EN SUCURSAL DE CORREO
Podés retirar tu compra en las sucursales de correo habilitadas de Oca y Andreani. Para ver las opciones disponibles ingresá tu código postal en la páguna del producto.
El plazo de entrega de los envíos estándar es de 3 a 12 días hábiles, dependiendo de la localidad.
El pedido permanecerá en la sucursal durante 5 días corridos. Superando este plazo el paquete ingresará en devolución a clotex.

ENVÍO A DOMICILIO EXPRESS
Modalidad de envío válida únicamente para CABA y GBA en productos seleccionados. Los envíos pueden demorar hasta 48hs hábiles, dependiendo del horario de la compra y del código postal.

RETIRO EN SUCURSAL CLOTEX
Podés retirar tu compra en nuestras sucursales, sin costo.
Serás notificado vía email cuando el pedido esté disponible para retirar.
El comprador registrado en www.clotex.com.ar deberá concurrir con DNI y número de pedido, dentro de los 30 días corridos a partir de la notificación de retiro. Superado ese lapso el pedido ingresa en devolución a clotex.</p>
  <h4 id="Garantia">Garantia</h4>
  <p>¿Cuál es la garantía de los productos?

Los productos cuentan con 180 días de garantía y sólo cubre fallas del producto relacionados a la fabricación del mismo.
Los productos discontinuos o de oferta no tienen garantía.
Para hacer el reclamo podés escribir a ecommerce@clotex.com.ar indicando número de pedido, nombre del producto y detalle de la falla del mismo. Deberás adjuntar imágenes.</p>
</div>
</div>
</div>