<div class="text-center sql">
            <h2 class="text-danger">
                {{sql}}
            </h2>
        </div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="https://c.wallhere.com/photos/39/21/women_model_sports_sportwear_sneakers_Nike_sports_bra_head_band-1282109.jpg!d" class="d-block w-100" alt="Ropa deportiva mujer">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://img.freepik.com/foto-gratis/centrado-fuerte-deportivo-hombre-corriente-rapido-camino_1262-6094.jpg?w=2000" class="d-block w-100" alt="Conjunto deportivo hombre">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://fondosmil.com/fondo/87753.jpg" class="d-block w-100" alt="Zapatillas deportivas">
    </div>
      <div class="carousel-item" data-bs-interval="5000">
      <img src="https://s1.eestatic.com/2020/04/01/imprescindibles/marcas_destacadas-amazon-deporte_479213496_149530122_1706x960.jpg" class="d-block w-100" alt="Ropa deportiva mujer">
    </div>
  </div>
</div>