<div class="container">

    <div class="text-center m-5">
    <hr>
    <h1>{{titulo}}</h1>
    <hr>
    </div>

<div class="row">
    <form action="./Newsletter" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="Nombre" placeholder="Inserte aquí">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" placeholder="Inserte aquí">
    </div>
    <div class="mb-3 text-center">
        <input type="submit" class="button btn-dark w-50 p-2" value="Continuar">
    </div>


    </form>

    <div class="text-center" validacion>
            <h2 class="text-danger">
                {{validacion}}
            </h2>
    </div>

</div>



</div>